    <header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <img src="/assets/Xlounge-logo.png" alt=""  class="logo" width="30%" fill="var(--logo-color, #000)">
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>